@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url(/src/Images/home2.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  padding: 0px 0px 0px 0px;
  height: 100vh;
  overflow: hidden;
}

.my_bg {
  background-image: url(./Svg/subtle-prism.svg);
}

.my_p {
  text-align: center;
}

.aboutImg {
  width: 80%;
  height: 350px;
  margin: 1rem auto 1rem;
}

.my_background {
  background-color: rgba(15, 15, 15, 0.897);
}

.photo {
  background-image: url(/src/Images/victor-furtuna-0mchrVHAYzg-unsplash.jpg);
  object-fit: cover;
}
